<h2>Edit {{movieToUpdate.title}}</h2>

<form action="/movies/{{movieToUpdate.id}}" method="POST">
  <label>
      Title:
      <input type="text" name="title" value="{{movieToUpdate.title}}"/>
  </label>
  <label>
      Genre:
      <input type="text" name="genre" value="{{movieToUpdate.genre}}"/>
  </label>
  <label>
      Plot:
      <textarea name="plot">
        {{movieToUpdate.plot}}
      </textarea>
  </label>
  <label>
      Cast:
      <select name="cast" multiple>
        {{#each celebritiesFromDb}}
          <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}    
      </select>
  </label>
  
   <button>Update</button>
</form>