<h2>Edit this Movie</h2>

<form action="/movies/{{movie.id}}" method="POST">
    <label>
      Title:
      <input type="text" name="title" value="{{movie.title}}" />
    </label>
       
    <label>
      Genre:
      <input type="text" name="genre" value="{{movie.genre}}" />
    </label>
     
    <label>
      Plot:
      <input type="text" name="plot" value="{{movie.plot}}" />
    </label>

    <label>
      Cast:
    <select name="cast" multiple>
      {{#each movie.cast}}
      <option value="{{id}}" selected="selected">{{name}}</option>
      {{/each}}

    </select>

    <button>Update</button>
</form>