<h2>Edit {{movie.title}}</h2>

<a href="/movies">🔙 movies page </a>

<form action="/movies/{{movie.id}}" method="POST">

    <p>
        <label>
            Title:
            <input type="text" name="title" value="{{movie.title}}">
        </label>
    </p>

    <p>
        <label>
            Genre:
            <input type="text" name="genre" value="{{movie.genre}}">
        </label>
    </p>

    <p>
        <label>
            Plot:
            <input type="text" name="plot" value="{{movie.plot}}">
        </label>
    </p>

    <p>
        <label>
            Cast:
            <select multiple name="cast">

                {{#each celebrities}}
                    <option  value="{{id}}" 
                    {{#if inCast}}selected{{/if}}
                    >
                        {{name}}
                    </option>
                {{/each}}
            
            </select>
        </label>
    </p>

    <button>Update</button>
</form>